@model Daivata.Entities.Account

<br /><br /><br /><br /><br /><br /><br /><br />

<div class="container" style="padding-bottom:200px;">
            <h3 class="highlighthead">Thanks for registering with Daivatham.in !</h3>
            <br />
            <form id="frmConfirmation">
                First Name <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name" required style="width:60%;" value="@Model.Profile.FirstName"> <br />
                Last Name <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name" required style="width:60%;" value="@Model.Profile.LastName"> <br />
                Email <input type="text" class="form-control" name="email" id="email" placeholder="Email" required style="width:80%;" value="@Model.Profile.Email"> <br />
                Contact Number <input type="text" class="form-control" name="contact" id="contact" placeholder="Contact Number" required style="width:50%;" value="@Model.Profile.ContactNumber"> <br />
                <input type="button" value=" Update " class="btn-success" onclick="javascript: confirmSubmission('frmConfirmation')" />
            </form>
</div>

<script language="javascript">

    function confirmSubmission(formID) {
        debugger;
        var submiturl = "@Url.Action("UpdateUser", "Security")";
        var _oData = {
            type: "POST",
            url: submiturl,
            data: getFormData(formID),
            success: processSuccessUpdate,
            error: function () {

            },
            complete: null,
            dataType: "html"
        };
        submitAjax(_oData);
    }

    function processSuccessUpdate(data) {
        if (data.Status) {
            window.location.href = "@Url.Action("MyView", "Home")";
        }
    }

    </script>
