@model Daivata.Entities.Devalaya

<script>
    document.title = document.title + ' - @Model.Title';
</script>
<br /><br /><br />
<div class="content">
    <div class="sidebar">
        <div class="sidebar-dropdown"><a href="#">Menu</a></div>
        <div class="sidebar-inner">
            <ul class="navi">
                <!-- Use the class nred, ngreen, nblue, nlightblue, nviolet or norange to add background color. You need to use this in <li> tag. -->

                <li class="nred"><a href="#" onclick="javascript: resetActive(event, 0, 'step-1');"><i class="fa fa-desktop"></i> Details</a></li>
                <li class="nred"><a href="#" onclick="javascript: resetActive(event, 0, 'step-2');"><i class="fa fa-list-alt"></i> Seva Details</a></li>
                <li class="nred"><a href="#" onclick="javascript: resetActive(event, 0, 'step-13');"><i class="fa fa-photo"></i> Gallery</a></li>
                <li class="nred"><a href="#" onclick="javascript: resetActive(event, 0, 'step-3');"><i class="fa fa-map-marker"></i> Location</a></li>
                <li class="nred"><a href="#" onclick="javascript: resetActive(event, 0, 'step-4');"><i class="fa fa-list"></i> Contact</a></li>
                <li class="nred"><a href="#" onclick="javascript: resetActive(event, 0, 'step-5');"><i class="fa fa-list"></i> FAQ</a></li>
                <li class="nred"><a href="#" onclick="javascript: resetActive(event, 0, 'step-6');"><i class="fa fa-group"></i> Discuss</a></li>
                <li class="nred"><a href="#" onclick="javascript: resetActive(event, 0, 'step-7');"><i class="fa fa-calendar"></i> Events</a></li>
                <li class="nred"><a href="#" onclick="javascript: resetActive(event, 0, 'step-8');"><i class="fa fa-info"></i> References</a></li>
                <li class="nred"><a href="#" onclick="javascript: resetActive(event, 0, 'step-9');"><i class="fa fa-road"></i> Travel Guide</a></li>
                <li class="nred"><a href="#" onclick="javascript: resetActive(event, 0, 'step-10');"><i class="fa fa-repeat"></i> Near By</a></li>
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <li class="nred">
                        <a href="#" onclick="javascript: resetActive(event, 10, 'step-11');"><i class="fa fa-image"></i>New Photo Album</a>
                    </li>
                    <li class="nred">
                        <a href="#" onclick="javascript: resetActive(event, 10, 'step-12');"><i class="fa fa-youtube"></i>Link a Video</a>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="mainbar">
            <div class="row">
                <div class="col-md-3" style="padding-top:55px;">
                    <img src="@Model.ThumbNail" class="img-circle center-block img-highlight" />

                    <form id="frmSubmit" style="text-align:center; padding-top:5px;padding-bottom:5px;">
                        <input type="hidden" id="devalayaId" name="devalayaId" value="@Model.Identifier" />
                        @if (Model.Status == "N" && Guid.Parse(@Model.CreatedBy) == Daivata.UI.LoggedinUser.GetLoggedinUserProfileId())
                    {
                            <input type="button" value="Confirm and Submit" class="btn-success" onclick="javascript: confirmSubmission('frmSubmit')" />
                            <br />
                    }
                    else if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <div id="followLink">
                            @if (Daivata.UI.LoggedinUser.IsFolllowing(Model.Identifier)) // temp fix for isfollowing
                            {
                                <span class="fa fa-star text-info"></span><span class="text-info"> Following</span>
                            }
                            else
                            {

                                <input type="button" value="Follow" class="btn-success" onclick="javascript: followthis('frmSubmit')" />

                            }
                        </div>
                    }

                        <div id="fb-root"></div>
                        <script>
                        (function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=629340333850453&version=v2.0";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                    </form>
                </div>

                <div class="col-md-9 ">
                    <h3 style="color: brown; padding-left: 15px;"> @Model.Title</h3>
                    <h4 style="color: brown; padding-left: 15px;"> @Model.ShortDescription</h4>
                    <h4 style="color: brown; padding-left: 15px;">@Model.Location @Model.State @Model.Country</h4>
                    <div class="fb-share-button" data-href="http://daivatham.in/Details/Devalaya/@Model.Identifier"></div>
                </div>
            </div>

            <div class="row setup-content step activeStepInfo" id="step-1">
                <div class="col-xs-12">
                    <div class="col-md-12 well text-left" style="min-height:400px;">
                        @Html.Raw(Model.Details)
                    </div>
                </div>
            </div>
            <div class="row setup-content step hiddenStepInfo" id="step-2">
                <div class="col-xs-12">
                    <div class="col-md-12 well text-left" style="min-height:400px;">
                        @Html.Raw(Model.TimingDetails)
                    </div>
                </div>
            </div>
            <div class="row setup-content step hiddenStepInfo" id="step-3">
                <div class="col-xs-12" style="min-height:400px;">

                    <div class="page-section">
                        <div class="row">

                            @if (!String.IsNullOrEmpty(Model.MapLocation))
                        {
                                <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=@HttpUtility.UrlEncode(Model.MapLocation)&key=AIzaSyAXfBXLhdYDILVFnHAL2u7PzgWAURdondw&zoom=13"></iframe>
                        }
                        else
                        {
                                @Html.Raw("No Location details available");
                        }

                        </div>
                    </div>
                </div>

            </div>
            <div class="row setup-content step hiddenStepInfo" id="step-4">
                <div class="col-xs-12">
                    <div class="col-md-12 well text-center" style="min-height:400px;">
                        @Html.Raw(Model.Contact)
                    </div>
                </div>
            </div>
            <div class="row setup-content step hiddenStepInfo" id="step-5">
                <div class="col-xs-12">
                    <div class="col-md-12 well text-left" style="min-height:400px;">
                        @Html.Raw(Model.FAQ)
                    </div>
                </div>
            </div>
            <div class="row setup-content step hiddenStepInfo" id="step-6">
                <div class="col-xs-12">
                    <div class="col-md-12 well text-left" style="min-height:400px;">

                    </div>
                </div>
            </div>
            <div class="row setup-content step hiddenStepInfo" id="step-7">
                <div class="col-xs-12">
                    <div class="col-md-12 well text-left" style="min-height:400px;">
                        coming soon..
                    </div>
                </div>
            </div>
            <div class="row setup-content step hiddenStepInfo" id="step-8">
                <div class="col-xs-12">
                    <div class="col-md-12 well text-left" style="min-height:400px;">
                        @Html.Raw(Model.References)
                    </div>
                </div>
            </div>
            <div class="row setup-content step hiddenStepInfo" id="step-9">
                <div class="col-xs-12">
                    <div class="col-md-12 well text-left" style="min-height:400px;">
                        @Html.Raw(Model.TravelDetails)
                    </div>
                </div>
            </div>
            <div class="row setup-content step hiddenStepInfo" id="step-10">
                <div class="col-xs-12">
                    <div class="col-md-12 well text-left" style="min-height:400px;">

                    </div>
                </div>
            </div>
            <div class="row setup-content step hiddenStepInfo" id="step-11">
                <div class="col-xs-12">
                    <div class=" col-md-12 well text-left" style="min-height:500px;">
                        @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                            <div class="row">
                                <div>
                                    Upload a new photo: <br />
                                    <form id="frmAlbum">
                                        <input type="text" class="form-control" name="albumtitle" id="albumtitle" placeholder="Album Title" required style="width:80%;"> <br />
                                        <input type="file" id="uploadPhoto" multiple class="form-control" style="width:80%;" onchange="javascript:updateThumnailpreview()" />
                                    </form>
                                </div>
                                <div id="thumnailplaceholder" class="row" style="margin-right:0px;">

                                </div>
                                <br />
                                <a href="#" onclick="javascript: createPhotoGallery('frmAlbum')" id="uploadLink" style="color:brown;font-weight:700;">Upload</a>
                                <div id="pleaseWaitModel" style="display: none; padding-left:10px;color:brown;">
                                    <span id="pleaseWaitTextSignIn" style="padding-left: 3px;">Please wait..</span>
                                </div>
                            </div>
                    }
                    else
                    {
                            <h5 style="color:brown">Please signin to create new album</h5>
                    }
                    </div>

                </div>
            </div>
            <div class="row setup-content step hiddenStepInfo" id="step-12">
                <div class="col-xs-12" style="min-height:500px;">
                    <div class="col-md-12 well text-left">
                        @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                            <form id="frmuploadvideo">
                                <input type="text" class="form-control" name="videodescription" id="videodescription" placeholder="Description" required style="width:80%;"> <br />
                                <input type="text" class="form-control" name="videolink" id="videolink" placeholder="http://www.youtube.com/embed/Uf0cSWZLVDw" required style="width:80%;" onchange="javascript:showVideo()">
                                <a href="#" onclick="javascript: LinkaVideo('frmuploadvideo')" style="color:brown;font-weight:700;">Add</a>
                                <br /> <br />
                                <iframe width="560" height="315" id="iframevideo"></iframe>
                                <input type="hidden" value="@Model.Identifier" id="associationId" name="associationId" />
                            </form>
                    }
                    else
                    {
                            <h5 style="color:brown">Please signin to add video links</h5>
                    }
                    </div>
                </div>
            </div>
        <div class="row setup-content step hiddenStepInfo" id="step-13">
            <div class="col-xs-12">
                <div class="col-md-12 well text-left" style="min-height:400px;">
                    @foreach (Daivata.Entities.Album alb in Model.Albums)
                    {

                        if (alb.GalleryItems[0].GalleryType == "V")
                        {
                            <div class="row" style="margin-right:0px;">
                                <h5>@alb.AlbumTitle</h5>
                                <h6>@alb.CreatedByName</h6>
                                <iframe width="50%" height="250px" src="@alb.GalleryItems[0].FileName"></iframe>
                            </div>
                        }
                        else
                        {

                            <div class="row" style="margin-right:0px;">
                                <h5>@alb.AlbumTitle</h5>
                                <h6>@alb.CreatedByName</h6>
                                @foreach (Daivata.Entities.Gallery gal in alb.GalleryItems)
                                {

                                    <div class="col-md-3 col-sm-3" style="padding:2px;">
                                        <img src="@gal.FileName" class="img-responsive img-thumbnail" style="height:100px; width:100px" />
                                    </div>

                                }
                            </div>

                        }
                    }
                </div>
            </div>
        </div>

        </div>


        </div>
 
<script language="javascript">

                       function showVideo() {
                           document.getElementById("iframevideo").src = document.getElementById("videolink").value;
                           debugger;
                       }


                       function updateThumnailpreview() {
                           debugger;

                           var rawHTMml;
                           document.getElementById("thumnailplaceholder").innerHTML = "";
                           for (cnt = 0; cnt < document.getElementById("uploadPhoto").files.length; cnt++) {
                               var oFReader = new FileReader();
                               oFReader.readAsDataURL(document.getElementById("uploadPhoto").files[cnt]);

                               oFReader.onload = function (oFREvent) {
                                   rawHTMml = "<div class=\"col-md-3 col-sm-3\" style=\"padding:2px; margin-left:20px;\"><img src=\"" + oFREvent.target.result + "\"id=\"imgupload1\" class=\"img-responsive img-thumbnail\" /></div>";
                                   //document.getElementById("imgupload1").src = oFREvent.target.result;
                                   document.getElementById("thumnailplaceholder").innerHTML = document.getElementById("thumnailplaceholder").innerHTML + rawHTMml;
                               };

                           }


                       }


                       function LinkaVideo(formID) {
                           debugger;
                           setPleaseWaitModalText("Please wait..", 'Save')
                           var submiturl = "@Url.Action("LinkAVideo", "Details")";
                           var _oData = {
                               type: "POST",
                               url: submiturl,
                               data: getFormData(formID),
                               success: processSuccessfulAlbum,
                               error: function () {

                               },
                               complete: null,
                               dataType: "html"
                           };
                           submitAjax(_oData);
                       }



                       function processSuccessfulAlbum(data) {
                           // refresh gallery
                           clearPleaseWaitModalText("Save")
                           if (data.Status) {
                               // refresh
                               window.location.reload();
                           }
                       }

                       function createPhotoGallery(formID) {
                           debugger;
                           setPleaseWaitModalText("Creating album..", 'Save')
                           var submiturl = "@Url.Action("CreateAlbum", "Details")";
                           var _oData = {
                               type: "POST",
                               url: submiturl,
                               data: getFormData(formID),
                               success: uploadPhotoGallery,
                               error: function () {

                               },
                               complete: null,
                               dataType: "html"
                           };
                           submitAjax(_oData);
                       }

                       function uploadPhotoGallery(data) {

                           var formdata = new FormData();
                           setPleaseWaitModalText("Uploading photos, Please wait..", 'Save')
                           var files = $("#uploadPhoto").get(0).files;

                           // Add the uploaded image content to the form data collection
                           if (files.length > 0) {
                               for (cnt = 0; cnt < files.length; cnt++)
                               formdata.append("uploadedimage", files[cnt]);
                           }

                           var submiturl = "@Url.Action("UploadPhotoGallery", "Details")/" + data.Messages + "?associationId=@Model.Identifier";

                           $.ajax({
                               type: "POST",
                               url: submiturl,
                               data: formdata,
                               dataType: 'json',
                               contentType: false,
                               processData: false,
                               success: processSuccessfulAlbum,
                               error: function (error) {
                                   alert("errror");
                               }
                           });

                       }


                       function confirmSubmission(formID) {
                           setPleaseWaitModalText("Please wait...", 'Save')
                           debugger;
                           var submiturl = "@Url.Action("ConfirmDealayaSubmission", "Listings")";
                           var _oData = {
                               type: "POST",
                               url: submiturl,
                               data: getFormData(formID),
                               success: processSuccessfulCreate,
                               error: function () {

                               },
                               complete: null,
                               dataType: "html"
                           };
                           submitAjax(_oData);
                       }

                       function followthis(formID) {
                           //setPleaseWaitModalText("Please wait...", 'Save')
                           debugger;
                           var submiturl = "@Url.Action("Follow", "Listings")";
                           var _oData = {
                               type: "POST",
                               url: submiturl,
                               data: getFormData(formID),
                               success: function () {
                                   debugger;
                                   followLink.innerHTML = " <span class=\"fa fa-star text-info\"></span>  <span class=\"text-info\">Following</span>"; // need to change later
                                   },
                               error: function () {

                               },
                               complete: null,
                               dataType: "html"
                           };
                           submitAjax(_oData);
                       }

                       function processSuccessfulCreate(data) {
                           debugger;
                           clearPleaseWaitModalText("Save");
                           if (typeof (data) != "undefined") {
                               if (data.Status) {
                                   var listingUrl = "@Url.Action("Thankyou", "Listings")"
                                   window.location = listingUrl;
                               }
                           }
                       }

                       function setPleaseWaitModalText(data, id) {
                           $("#pleaseWaitModel" + id).text(data);
                           $("#pleaseWaitModel").addClass("activeStepInfo");
                       }


                       function clearPleaseWaitModalText(id) {
                           $("#pleaseWaitModel" + id).text("");
                           $("#pleaseWaitModel").addClass("hideStepInfo");
                       }


</script>
