@{
    @model Daivata.Models.DevalayaListings
    Layout = "";
}

<div class="row">
    @for (int listCnt = 0; listCnt < Model.Listings.Count(); listCnt++)
    {



        <div class="col-md-3 col-sm-3">
            <div class="feature-item">
                <div class="panel-heading">
                    @if (Model.Listings[listCnt].Title.Length >= 15)
                    {
                        <a href="~/Details/Devalaya/@Model.Listings[listCnt].Identifier"><h4 style="color:white;">@Model.Listings[listCnt].Title.Substring(0, 15)..</h4></a>
                    }
                    else
                    {
                        <a href="~/Details/Devalaya/@Model.Listings[listCnt].Identifier"><h4 class="highlighthead">@Model.Listings[listCnt].Title</h4></a>
                    }
                </div>
                <div style="margin: 10px; height:250px; color:white;">
                    <img class="img-circle center-block img-highlight" src="@Model.Listings[listCnt].ThumbNail" />
                    <br />
                    @Model.Listings[listCnt].ShortDescription<br />
                    @Model.Listings[listCnt].Location<br />
                </div>
            </div>
        </div>

    }
</div>