@model Daivata.Models.DevalayaListings

    <br />
    <br /><br />

<!-- Button trigger modal -->
@*<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
</button>*@

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><img src="~/Content/Img/logoshort.png" /> Filter by</h4>
            </div>
            <div class="modal-body">
                <form id="frmfilter">
                    <input type="text" class="well" placeholder="Devalaya Title" id="title" name="title" style="width:80%"/> <br /><br />
                    <select class="well" id="state" name="duration" style="width:50%">
                        <option value=""> -- Duration -- </option>
                        <option value="0">Added - This week</option>
                        <option value="1">Today</option>
                        <option value="2">Last week</option>
                        <option value="3">This Month</option>
                        <option value="4">All</option>
                    </select>
                    <br />
                    <select class="well" id="state" name="state" style="width:50%">
                        <option value=""> -- State -- </option>
                        <option value="KA">Karnataka</option>
                        <option value="TN">Tamil Nadu</option>
                        <option value="KL">Kerala</option>
                        <option value="MH">Maharashtra</option>
                    </select><br />
                    <input type="text" class="well" placeholder="Location" style="width:70%" id="location" name="location"/>
                </form>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="javascript:filteredView()">GO > </button>
            </div>
        </div>
    </div>
</div>

<div class="container" style="text-align:right"><a  data-toggle="modal" data-target="#myModal" href="#"> Filter</a> &nbsp; <a href="~/Listings/CreateNewDevalaya">Create new Devalaya Listing</a> </div>
    
    <div class="feature">
    <div class="container">
        <div class="row">
            @for (int listCnt = 0; listCnt < Model.Listings.Count(); listCnt++)
            {

                            
                    
                <div class="col-md-3 col-sm-3">
                <div class="feature-item">
                    <div class="panel-heading">
                        @if (Model.Listings[listCnt].Title.Length >= 20)
                        { 
                        <a href="~/Details/Devalaya/@Model.Listings[listCnt].Identifier"><h5 style="color:white;">@Model.Listings[listCnt].Title.Substring(0, 20)..</h5></a>
                        }
                        else
                        {
                            <a href="~/Details/Devalaya/@Model.Listings[listCnt].Identifier"><h5 class="highlighthead">@Model.Listings[listCnt].Title</h5></a>
                        }
                    </div>
                    <div style="margin: 10px; height:220px; color:white;">
                        <a href="~/Details/Devalaya/@Model.Listings[listCnt].Identifier">
                            <img class="img-circle center-block img-highlight" height="120px;" width="120px;" src="@Model.Listings[listCnt].ThumbNail" /></a>
                            <br />
                            @Model.Listings[listCnt].ShortDescription<br />
                            @Model.Listings[listCnt].Location<br />
</div>
                </div>
            </div>
            
            }
            </div>

        <div id="content">

        </div>

    </div>
    </div>

<script>
    var currentPage = 0;

    window.onscroll = function () {
        // try to get data here
        if ($(window).scrollTop() + $(window).height() == $(document).height()) {
            debugger;
            var pageCount = @Model.PageCount;
            if(currentPage <= pageCount){
                currentPage++;
                var submiturl = "@Url.Action("DevalayasOnScroll", "Listings")?filter=@Model.Filter&pagenumber=" + currentPage;

                $.ajax({
                    type: "GET",
                    url: submiturl,
                    data: null,
                    success: reloaditems,
                    error: function (error) {
                        alert(error);
                    }
                });
            }
        }
    }

    function reloaditems(data) {
        if (data != "") {
            content.innerHTML = content.innerHTML + data;
        }
    }
    function filteredView()
    {
        $('#myModal').modal('hide');
        var formData = getFormData('frmfilter');
        window.location.href = "@Url.Action("Devalayas", "Listings")?" + formData;
    }

</script>