@model List<Daivata.Entities.DevalayaSummary>

    <br />
    <br /><br />
<div class="container" style="text-align:right"><a href="~/Listings/CreateNewDevalaya">Create new Devalaya Listing</a> </div>
    
    <div class="feature">
    <div class="container">
        <div class="row">
            @for (int listCnt = 0; listCnt < Model.Count(); listCnt++){

                            
                    
                <div class="col-md-3 col-sm-3">
                <div class="feature-item">
                    <div class="panel-heading">
                        @if (Model[listCnt].Title.Length >= 15) { 
                        <a href="~/Details/Devalaya/@Model[listCnt].Identifier"><h4 style="color:white;">@Model[listCnt].Title.Substring(0, 15)..</h4></a>
                        }
                        else
                        {
                            <a href="~/Details/Devalaya/@Model[listCnt].Identifier"><h4 class="highlighthead">@Model[listCnt].Title</h4></a>
                        }
                    </div>
                    <div style="margin: 10px; height:250px; color:white;">
                        <img class="img-circle center-block img-highlight" src="@Model[listCnt].ThumbNail" />
                        <br />
                        @Model[listCnt].ShortDescription<br />
                        @Model[listCnt].Location<br />
                    </div>
                </div>
            </div>
            
            }
            </div>
    </div>
    </div>





