@{
    @model Daivata.Models.DevalayaListings
    Layout = "";
}

<div class="row">
    @for (int listCnt = 0; listCnt < Model.Listings.Count(); listCnt++)
    {



        <div class="col-md-3 col-sm-3">
            <div class="feature-item">
                <div class="panel-heading">
                    @if (Model.Listings[listCnt].Title.Length >= 20)
                    { 
                             <a href="~/Details/Devalaya/@Model.Listings[listCnt].Identifier"><h5 style="color:white;">@Model.Listings[listCnt].Title.Substring(0, 20)..</h5></a>
                    }
                    else
                    {
                        <a href="~/Details/Devalaya/@Model.Listings[listCnt].Identifier"><h5 class="highlighthead">@Model.Listings[listCnt].Title</h5></a>
                    }
                </div>
                <div style="margin: 10px; height:220px; color:white;">
                    <img class="img-circle center-block img-highlight" src="@Model.Listings[listCnt].ThumbNail" height="120px;" width="120px;" />
                    <br />
                    @Model.Listings[listCnt].ShortDescription<br />
                    @Model.Listings[listCnt].Location<br />
                </div>
            </div>
        </div>

    }
</div>